@{
    ViewBag.Title = "Home Page";
}
<div class="bump"></div>
<div class="headerbox">
    
</div>

<div class="row">
    <div class="col-md-4">
        <img id="headimg" src="~/Content/Images/computer.png" width="320" height="320" alt="" />
    </div>
    <div class="col-md-8 headtext">
        <h2 class="headertext">
            <strong>Vi erbjuder professionell</strong> <br />
            PC support
        </h2>

        <p class="hundertext">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut <br/> labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud.</p>
    </div>
</div>
<div class="container">
    <h2>Vi erbjuder:</h2>
<div class="row row_off grid-off"> @* " row_off grid-off" <- var inne i class taggen utöver row, dunno om de strular om man tar bort.*@
    
    <div class="col-md-4">
        <div class="ikonblock fa-laptop">
            <h4>det ordnar sajj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ikonblock fa-wrench">
            <h4>det ordnar sajjj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ikonblock fa-cogs">
            <h4>det ordnar sajjj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ikonblock fa-windows">
            <h4>det ordnar sajjj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ikonblock fa-laptop">
            <h4>det ordnar sajjj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ikonblock fa-laptop">
            <h4>det ordnar sajjj</h4>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>
</div>
</div>